* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  body {
    font-family: Arial, sans-serif;
  }

  header {
    background: linear-gradient(to left, #4B0082 , #E6E6FA);
    height: 98vh;

  }
  nav {
    
    color: rgb(255, 255, 255);   
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }

  .logo img {
    border-radius: 1.7rem;
    border: transparent;
    width: 300px;
    margin-top: 0.5rem;
    margin-left: 1.7rem;
    transition: 0.4s;
    cursor: pointer;
  }

  .logo img:hover {
    transform: scale(1.2);
  }

  .logo2 {
    width: 30vw;
    margin-top: 6rem;
    margin-left: 17rem;
    border-radius: 1.9rem;
  }
  
  .logo3 {
    width: 5vw;
  }

  .header2 {
    display: flex;
    
  }

  .herotext {
    margin-left: 2rem;
    position: relative;
    top: 12rem;
    color: white;
  }

  .herotext h1 {
    font-size: 3rem;
  }
  .herotext p {
    font-size: 2rem;
  }

  .btn {
    margin-top: 2rem;
    padding: 0.7rem 3rem;
    background-color: #4B0082;
    color: white;
    font-size: 1.7rem;
    cursor: pointer;
    transition: 0.4s ease;
  }

  .btn:hover {
    background-color: white;
   
    color: purple;
  }
  nav .mainMenu {
    display: flex;
    list-style: none;
  }
  nav .mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-size: 18px;
    transition: 0.2s ease;
  }
  nav .mainMenu li a:hover {
    background: rgb(255, 94, 0);
  }
  nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
  }
  nav .mainMenu .closeMenu,
  .icons > i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
  }
  .fa-facebook:hover {
    color: rgb(0, 110, 255);
  }
  .fa-twitter:hover {
    color: rgb(86, 154, 243);
  }
  .fa-instagram:hover {
    color: rgb(255, 0, 191);
  }
  .fa-github:hover {
    color: rgb(255, 123, 0);
  }
  nav .logo {
    margin: 6px;
    cursor: pointer;
    text-transform: uppercase;
  }

  /* main----section */

.section {
  margin-top: 1.8rem;
  padding: 1.7rem  5rem;
}
.section hr {
  margin-top: 5rem;
  margin-bottom: 1.5rem;
}
.about > img {
  width: 70vw;
  
} 
.customh1 {
  font-size: 4rem;
  color: #b6afbc;
  letter-spacing: 0.5rem;

}

.customh2 {
  font-size: 3rem;
  color: #4B0082;
  letter-spacing: 00.4rem;
  position: relative;
  top: -2.3rem;
  left: 1.5rem;
}

.abouttext h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.abouttext p {
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

@media (min-width: 850px) {
  .about {
    display: flex;
  }
  .about > img {
    width: 35vw;
    margin-left: 1rem;
  } 
  
}
/* services----section */

.servicestext {
  margin-top: 2rem;
}
.btn2 {
 height: 60px;
}
.btn3 {
  padding: 0.2rem 1rem;
  border: 2px solid #4B0082;
  background-color: white;
  color: #4B0082;
}

.btn3:hover {
  background-color: #E6E6FA;

}
.service {
  width: 100%;
 
} 
.perservice {
  display: flex;
  width: 35vw;
  margin-top: 2rem;
 
}

.servicetext {
  position: relative;
  top: 4rem;

}
.servicetext h1 {
  font-size: 2rem;
}

.serviceimage {
  height: 250px;
  width: 250px;
}

.services > hr {
  margin-top: 0.5rem;
}
@media (min-width: 850px) {
  .servicestext {
    margin-top: 3.5rem;
    display: flex;
    justify-content: space-between;
  }
  .btn2 {
    position: relative;
    top: -0.5em;
  }
  .service {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
 
  
}
/* services----section */

/* Testimonial----section */

.testimonial {
  background-color: rgb(191, 141, 238);
  padding: 2rem;
}

.test {
  font-size: 5rem;
  position: relative;
  left: 3rem;
  color: #353540;
  opacity: 0.7;
}
.testarea {
  position: relative;
  


  width: 50vw;
  border-radius: 1rem;
  padding: 2rem  1.5rem;
  margin-left: 2rem;
  
  height: 45vh;
  
  background: white;
  box-shadow: inset 0 0 0 3000px rgba(150, 150, 150, 0.192);
  filter: blur(0.2px);
  
  
}

.testarea > p {
  line-height: 1.8rem;
  font-size: 1.4rem;
  margin-bottom: 4rem;
}

.testarea > div {
  display: flex;
  margin-top: 1rem;
}

.testicon1 {
  position: absolute;
  top: -2rem;
  right: 0;
  
  font-size: 4rem;

  
}

.testicon2 {
  font-size: 4rem;
  padding: 0.5rem;
  background-color: rgb(62, 80, 96);
  border-radius: 45%;
}


.testie {
 
  margin-left: 1rem;
}
.testie h2 {
  color:rgb(7, 123, 123);
  letter-spacing: 0.4rem;
}

.testie h3 {
  color: #b6afbc;
}

.testie p {
  font-weight: bold;
}

.tsection {
  display: flex;
  margin: auto;
}

.tsection > img {
  margin-left: 2.5rem;
  border-radius: 0.5rem  0  0  0.5rem;
}

@media (max-width:600px) {
   
  .test{
    font-size: 3rem;
  }
  .btn2{
    display: none;
  }
}
@media (max-width:1200px) {
 
  .testarea {
    height: auto;
  }
}

@media (max-width:900px) {
  .tsection > img {
    display: none;
  }
  .testarea {
    width: 95vw;
  }
}
/* Talk----section */
.talk {
  padding: 2rem;
  display: flex;
  justify-content: center;
  background-color: rgb(61, 61, 180);
}

.talk > form {
  margin-top: 5rem;
  padding: 1.5rem;
  border-radius: 1.5rem;
  width: 60vw;
  background-color: rgb(210, 206, 233);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}

.talk > form > select {
  font-size: 1.5rem;
  width: 60%;
  margin-top: 4rem;
  background-color: white;
  padding: 0.8rem;
  border: none;
}

.btn4 {
  margin-bottom: 4rem;
}
@media (max-width:900px) {
  .talk > form {
    width: 95vw;
  }
}
/* contacts----section */
.contacts {
  padding: 2rem;
  background-color: rgb(238, 227, 247);
  border-bottom: 2px solid black;
}
.conthead {
  text-align: center;
  margin-top: 4rem;
}

.contarea {
  display: flex;

  
}
.contsec {
  position: relative;
  background-color: white;
  border-radius: 1.6rem;
  width: 45vw;
  padding: 1.5rem;
  margin-left: 10rem;
}
.fa-at {
  position: absolute;
  top: -2rem;
  right: 0;
  font-size: 4rem;
}

.contsec h3 {
  font-size: 2rem;
  color: #4B0082;
}

.location {
  display: flex;
  margin-top: 2rem;
}

.cicon {
  font-size: 2.3rem;
  margin-right: 0.5rem;
}

.cp {
  font-size: 1.5rem;
}

.dial {
  display: flex;
  justify-content: space-between;
}

.cimage {
  margin-left: 8rem;
  position: relative;
  top: 6.9rem;
  height: 300px;
}


footer {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid black;
  padding: 3rem;
}

footer > img {
  width: 300px;
}

.rights p {
  font-size: 1.5rem;
  line-height: 2rem;
}

a > i {

  font-size: 3rem;
  padding: 0.8rem;
  cursor: pointer;
  border-radius: 50%;
  margin-left: 1.4rem;
  background: #ecf0f3;
  box-shadow: -3px -3px 7px #ffffff,
               3px 3px 5px #ceced1;

}

.fb {
  color: blue;
}

.what {
  color: limegreen;

}
.mail {
  color: purple;
}
@media (max-wdith: 700px) {
   
}
/* main----section */


  @media (max-width: 850px) {
    nav .mainMenu {
      height: 100vh;
      position: fixed;
      top: 0px;
      right: 0px;
      left: 0px;
      z-index: 10;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: purple;
      transition: top 1s ease 0s;
      display: none;
    }
    nav .mainMenu .closeMenu {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
    }
    nav .openMenu {
      display: block;
    }
    nav .mainMenu li a:hover {
      background: none;
      color: rgb(255, 123, 0);
    }
    .icons i {
      display: inline-block;
      padding: 12px;
    }

    .header2 {
      display: block;
    
    }
    .herotext {
      top: 0rem;
    }


    .cimage {
      display: none;
     }
     .contsec {
      width: 90vw;
      margin: auto;
     }
     footer > img {
      display: block;
      width: 300px;
    }

    footer {
      flex-wrap: wrap;
    }
   .footericons {
      display: none;
     }
  }
  
