<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bansoft</title>
    <link rel="stylesheet" href="./style.css">
    <link src="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
 </head>
    <body>>
      <header>
            <nav>
                <div class="logo"><img src="logo.PNG" alt="logo"></div>
                <div class="openMenu"><i class="fa fa-bars"></i></div>
                <ul class="mainMenu">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="#">Admin</a></li>
                    <li><a href="#">Contact</a></li>
                     <div class="closeMenu"><i class="fa fa-times"></i></div>
                    <span class="icons">
                       <i class="fab fa-facebook"></i>
                       <i class="fab fa-instagram"></i>
                       <i class="fab fa-twitter"></i>
                      <i class="fab fa-github"></i>
                    </span>
                 </ul>
          </nav>
        </header
        
        <footer>
            <img src="footerlogo.PNG" alt="">
            <div class="rights" >
                <p>Copyright © 2022 Discreet (Pty) Ltd. </p>
                <p>Designed and Developed by Bansoft</p>
    
            </div
           <div class="footericons">
               <a><i class="fab fa-facebook fb"></i></a> 
               <a><i class="fab fa-whatsapp what"></i></a>
               <a><i class="fas fa-envelope mail"></i></a>
            </div>
        </footer>
            
    
        <script src="./app.js"></script>
   </body>
</html>
    